.ipynb_checkpoints/.ipynb_checkpoints/.ipynb_checkpoints/.ipynb_checkpoints/Garmin Run-checkpoint-checkpoint-checkpoint-checkpoint.ipynb
.ipynb_checkpoints/.ipynb_checkpoints/.ipynb_checkpoints/Garmin Run-checkpoint-checkpoint-checkpoint.ipynb
.ipynb_checkpoints/.ipynb_checkpoints/.ipynb_checkpoints/garmin_activites-checkpoint-checkpoint-checkpoint.csv
.ipynb_checkpoints/.ipynb_checkpoints/Garmin Run-checkpoint-checkpoint.ipynb
.ipynb_checkpoints/.ipynb_checkpoints/garmin_activites-checkpoint-checkpoint.csv
